@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Antic';
  background-color: #6967EF;
}

.nav {
  height: 70px;
  position: sticky;
  border: 2px solid white;

}

.nav h1 {
  float: left;
  padding: 30px;
  color: white;
  position: relative;
  bottom: 15px;
}

.nav ul {
  float: right;
  list-style: none;
  color: wheat;
  position: relative;
  top: 3px;
  right: 20px;
}

.nav li {
  float: left;
  padding: 20px;
  font-weight: 800;
  font-size: 20px;
}

.nav li:hover {
  background-color: rgba(95, 53, 164, .2);
}

/* Hero */

.hero {
  color: white;
  height: 91vh;
}

.hero h1 {
  font-size: 70px;
}

.heroImages {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.hero img {
  height: 600px;
  width: 800px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 5px 5px rgba(0, 0, 0, .3);
}
