@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Antic';
}

.nav {
  background-color: #6D16F7;
  height: 70px;
  position: sticky;
}

.nav h1 {
  float: left;
  padding: 30px;
  color: white;
  position: relative;
  bottom: 15px;
}

.nav ul {
  float: right;
  list-style: none;
  color: wheat;
  position: relative;
  top: 3px;
  right: 20px;
}

.nav li {
  float: left;
  padding: 20px;
  font-weight: 800;
  font-size: 20px;
}

.nav li:hover {
  background-color: rgba(95, 53, 164, .2);
}

/* Hero */

.hero {
  background-color: #6D16F7;
  color: white;
  height: 91vh;
}

.hero h1 {
  position: relative;
  top: 9vh;
  right: 4vw;
  font-size: 70px;
}

.hero img {
  height: 400px;
  width: 600px;
  position: relative;
  top: 16vh;
  left: 7vw;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 5px 5px rgba(0, 0, 0, .3);
}
